# List Slicing

In [1]:
a = [1,9,2,8,4,5,6,7]

In [2]:
a[0:4:1]

[1, 9, 2, 8]

In [3]:
a[0:4]

[1, 9, 2, 8]

In [4]:
d = a[:4]

In [5]:
print(d)

[1, 9, 2, 8]

In [6]:
e = a[:]
print(e)

[1, 9, 2, 8, 4, 5, 6, 7]

In [7]:
f = a[:(len(a)-1)]

In [8]:
print(f)

[1, 9, 2, 8, 4, 5, 6]

In [9]:
g = a[:len(a)]

In [10]:
print(g)

[1, 9, 2, 8, 4, 5, 6, 7]

In [13]:
a = [4,2,3,5,6]
b =a

In [14]:
print(b)

[4, 2, 3, 5, 6]

In [15]:
a = [5,4,5,6,4]
b = a[:]
a[0]=3

In [16]:
print(a)

[3, 4, 5, 6, 4]

In [17]:
print(b)

[5, 4, 5, 6, 4]

# Tuples

In [19]:
a = tuple()
print(type(a))

<class 'tuple'>

In [20]:
a = list()
print(type(a))

<class 'list'>

In [22]:
e = (9)
print(type(e))

<class 'int'>

In [23]:
d = ()
print(type(d))

<class 'tuple'>

In [24]:
b = ('Radha')
print(type(b))

<class 'str'>

In [25]:
f = (1,)
print(type(f))

<class 'tuple'>

# List and tuple conversion

In [32]:
x = int(x)
print(type(x))

<class 'int'>

# MAP FUNCTION

[16, 25, 36, 16, 64, 64, 64]

In [37]:
l = [1,2,3,4,5,6]
def square(x):
    return (x*x)
l3 = list(map(square,l))

In [38]:
print(l3)

[1, 4, 9, 16, 25, 36]

In [39]:
x = input().split()
print(x)
int_coordinates = list(map(int,x))
print(int_coordinates)

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

# Single line brahmastra code

In [41]:
input_list = list(map(int,input().split()))

1 2 3 4 5 6 7

In [42]:
print(input_list)

[1, 2, 3, 4, 5, 6, 7]

In [43]:
input_tuple = tuple(input_list)

In [44]:
print(input_tuple)

(1, 2, 3, 4, 5, 6, 7)

# 2D list as input from user

In [49]:
r = int(input('Give  no. of rows: '))
for i in range(r):
    current_row = list(map(int,input().split()))
    print(current_row)

Give  no. of rows: 2
1 2 3 4 5
[1, 2, 3, 4, 5]
 1 4 5 2 36 5
[1, 4, 5, 2, 36, 5]

In [51]:
r = int(input())

4

# How to take rows & column as input from user

In [1]:
r,c = tuple(map(int,input().split()))
print('No. of rows:',r)
print('No. of cols:',c)
final_list = []
for i in range(r):
    current_row = list(map(int,input().split()))
    final_list.append(current_row)
print(final_list)

2 3
No. of rows: 2
No. of cols: 3
1 2 3
4 5 6
[[1, 2, 3], [4, 5, 6]]

# Sum of Matrix

In [6]:
r,c = tuple(map(int,input().split()))
print('no. of rows:',2)
print('no. of cols:',3)
sum_list=[]
for i in range(r):
    current_row = list(map(int,input().split()))
    sum_list.append(current_row)
print(sum_list)

2 3
no. of rows: 2
no. of cols: 3
1 2 3
 4 5 6
[[1, 2, 3], [4, 5, 6]]

In [9]:
sum = 0
for i in  range(r):
    for j in range(c):
        sum+=sum_list[i][j]

In [11]:
print(sum)

21

In [12]:
T = [
    ['X','0','X'],
    [' ','X',' '],
    ['0','0','X']
]

In [13]:
print(T[0][0],T[0][1],T[0][2])
print(T[1][0],T[1][1],T[1][2])
print(T[2][0],T[2][1],T[2][2])

X 0 X
  X
0 0 X

In [16]:
r = len(T)
c = len(T[0])
for i in range(r):
    for j in range(c):
        print(T[i][j],end=' ')
    print()

X 0 X
  X
0 0 X

# Sum of Two Matrices

In [19]:
a = [[1,2,3],[3,4,5]]
b = [[6,7,8],[9,10,11]]
res=[]
r = len(a)
c = len(a[0])
for i in range(r):
    row = []
    for j in range(c):
        sum = a[i][j]+b[i][j]
        row.append(sum)
        print(sum)
    print(row)
    res.append(row)
print(res)

7
9
11
[7, 9, 11]
12
14
16
[12, 14, 16]
[[7, 9, 11], [12, 14, 16]]