In [6]:
# Object Oriented Code
arr = [1,2,3,4,5]
a=[]
for x in arr:
    a.append(x**2)
print(a)
    
b = [x**2 for x in arr]
print(b)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [8]:
# Fucnctional programming code
def square(x):
    return x**2
list(map(square,arr))

[1, 4, 9, 16, 25]

In [18]:
#OOP
arr = list(range(1,11))
b = [x**2 for x in arr if x%2==0]
print(b)

[4, 16, 36, 64, 100]

In [23]:
#Functional programming
arr=[1,2,3,4,5]
def iseven(x):
    return x%2==0
list(map(square, filter(iseven,arr)))

[4, 16]

In [27]:
list(filter(lambda x: x%3==0 ,range(10)))

[0, 3, 6, 9]

In [28]:
list(filter(lambda x: x==3,[1,2,3,4,5,3,3,3,4,5,6]))

[3, 3, 3, 3]

In [29]:
# Object oriented way to sum
sum = 0
a = [1,2,3,4,5,6]
for x in a:
    sum+=x
print(sum)

21

In [30]:
# Functional way
from functools import reduce

reduce(lambda acc,x: acc+x,a)

21

In [37]:
students = [
    {'name':'A','marks':80},
{'name':'B','marks':90},{'name':'C','marks':100},{'name':'D','marks':70},{'name':'E','marks':80},{'name':'F','marks':60}
]
# OOP
total=0
for student in students:
    total+=student['marks']
    average = total/len(students)
print(average)

# Functional way

reduce(lambda acc,student: acc+student['marks'],students,0)/len(students)

80.0

80.0

# Assignments

In [7]:
def is_email_valid(email):
    if len(email.split('@'))!=2:
        return False
    user,domain = email.split('@')
    
    if not user or not domain:
        return False
    if len(user)>20:
        return False
    return True

In [8]:
emails=['sara@scaler.com', 'brian-23@scaler.com', 'brute54@scaler.com']
sorted([emails  for email in emails if is_email_valid(email)])

[['sara@scaler.com', 'brian-23@scaler.com', 'brute54@scaler.com'],
 ['sara@scaler.com', 'brian-23@scaler.com', 'brute54@scaler.com'],
 ['sara@scaler.com', 'brian-23@scaler.com', 'brute54@scaler.com']]

In [24]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [25]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [27]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [28]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [34]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

In [39]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list(filter(lambda x:  x == x[::-1],arr))

In [40]:
print(result)

['php', 'aaa']

In [41]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [42]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [46]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : x.lower().find(name.lower()) != -1, ids))
print(result)

['Sam@gmail.com', 'Sam@gmail.com', 'samJohnson@iit.com', 'SAM@harvard.com']