# OOPS BASIC

In [13]:
class student:
    name = 'Radha'
    age = 22
    email = 'kamalsharmasoniks@gmail.com'
    phone = 8168017430

In [14]:
s = student()
print(s.name)
print(s.age)
print(s.email)
print(s.phone)

Radha
22
kamalsharmasoniks@gmail.com
8168017430

In [15]:
print(s)

<__main__.student object at 0x000001FBB41E9E50>

# 2nd class

In [20]:
class student:
    name = 'Radha'
    age = 'Ananta'
    print(student)

<class '__main__.student'>

In [21]:
# Creating object

In [22]:
s = student()
print(s)

<__main__.student object at 0x000001FBB41F0B50>

In [23]:
# Access DATA
print(s.name)
print(s.age)

Radha
Ananta

# Self Keyword

In [29]:
class student:
    name = 'Radha'
    age = 24
    
    def join_class(self):
        print('The student has joined the class')

In [30]:
# Access Function
s = student()
s.join_class()

The student has joined the class

In [26]:
class student:
    name = 'Radha'
    age = 22
    
    def join_class(self,T):
        print(f'The student {self.name} has joined the class after{T} seconds')

In [27]:
s2 = student()
s2.name='Krishna'
s2.age = '24'
s2.join_class(10)

The studentKrishna has joined the class after10 seconds