In [1]:
my_country = 'INDIA'
for char in my_country:
    print(char)

I
N
D
I
A

In [2]:
my_country= 'INDIA'
print(my_country[0])
print(my_country[-1])

I
A

In [3]:
my_country = input()
for char in my_country:
    print(ord(char))

INDIA
73
78
68
73
65

In [4]:
my_country = 'INDIA'
print(my_country*3)

INDIAINDIAINDIA

In [6]:
city = 'Phoenix'
print(city*3)
print(len(city)*3)

PhoenixPhoenixPhoenix
21

In [7]:
my_country = input()
count_upper = 0
for c in my_country:
    if ord(c)>=65 and ord(c) <=90:
        count_upper+=1
print(count_upper)

INdiA
3

In [13]:
my_country = input()
count_upper=0
for char in my_country:
    if c.isupper():
        count_upper+=1
    .print(count_upper)

Radha
1
2
3
4
5

# Convert lower case to upper case

In [19]:
my_name = input()
res = ' '
for c in my_name:
    print(c)
    cnew=ord(c)+32
    print(chr(cnew))
    res+=chr(cnew)
    print('res is:',res)
    print('---------')
print('final result is:',res)

RADHA
R
r
res is:  r
---------
A
a
res is:  ra
---------
D
d
res is:  rad
---------
H
h
res is:  radh
---------
A
a
res is:  radha
---------
final result is:  radha

# FINAL CODE

In [17]:
my_name = input()
res = ' '
for c in my_name:
    if c.isupper():
        cnew = ord(c)+32
        res+=chr(cnew)
    else:
        res+=c
print('final result is:',res)

RadhaKRISHNA
final result is:  radhakrishna

In [23]:
def spongebob(str):
    new_str = ' '
    for ind,char in enumerate(str):
        if ind%2==1:
            new_str+=char.lower()
        else:
            new_str+=char.upper()
    return new_str

In [24]:
spongebob('India')

' InDiA'

In [25]:
s = '123456'
print('6'in s)

True

In [26]:
def unique(str):
    letters=[]
    for char in str:
        if char not in letters:
            letters.append(char)
    return letters

In [29]:
unique('122334455')

['1', '2', '3', '4', '5']